@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@800&family=Indie+Flower&family=Teko:wght@500;600;700&display=swap');



:root {
    --size: min(10vw, 100px);
    --half-size: calc(var(--size) / 2);
    --minus-half-size: calc(var(--size) / -2);
}
* {
    box-sizing: border-box;
}
.content {
    width: var(--size);
    height: var(--size);
    margin: 50px auto;
    perspective: 1000px;
}
.cube {
    position: relative;
    transform-style:preserve-3d;
    width: var(--size);
    height: var(--size);
    transform: rotateX(-20deg) rotateY(20deg);
}

/*CUBE SIDES*/

.face {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: var(--size);
    width: var(--size);
    color: aliceblue;

    font-family: 'Teko', sans-serif;     
}
.one{
    background-color: rgba(255, 0, 0, 0.356);
    transform: translateZ(var(--half-size)); /*front*/
}
.two {
    background-color: rgba(0, 128, 0, 0.349);
    transform: translateY(var(--minus-half-size)) rotateX(-270deg) ; /*top*/
}
.three {
    background-color: rgba(0, 0, 255, 0.315);
    transform: translateX(var(--half-size)) rotateY(90deg); /*right*/
}
.four {
    background-color: rgba(255, 255, 0, 0.384);
    transform: translateX(var(--minus-half-size)) rotateY(-90deg); /*left*/
}
.five {    
    background-color: rgba(128, 0, 128, 0.342);
    transform: translateY(var(--half-size)) rotateX(270deg); /*bottom*/
}
.six {    
    background-color: rgba(255, 140, 0, 0.37);
    transform: translateZ(var(--minus-half-size)) rotateY(180deg); /*back*/
}

/*NUMBER*/

.num {
    position:absolute;
    display: block;
    opacity: 0%;
}

/*ANIMATION OF ROTATION*/ 

@keyframes one {
    0% {transform: rotateX(-20deg) rotateY(20deg);}
    100% {transform: rotateX(700deg) rotateY(380deg) rotateZ(360deg);}
}
@keyframes two {
    0% {transform: rotateX(-20deg) rotateY(20deg);}
    100% {transform: rotateX(610deg) rotateY(720deg) rotateZ(20deg);}
}
@keyframes three {
    0% {transform: rotateX(-20deg) rotateY(20deg);}
    100% {transform: rotateX(700deg) rotateY(290deg) rotateZ(360deg);}
}
@keyframes four {
    0% {transform: rotateX(-20deg) rotateY(20deg);}
    100% {transform: rotateX(700deg) rotateY(820deg);}
}
@keyframes five {
    0% {transform: rotateX(-20deg) rotateY(20deg);}
    100% {transform: rotateX(790deg) rotateY(360deg) rotateZ(340deg);}
}
@keyframes six {
    0% {transform: rotateX(-20deg) rotateY(20deg);}
    100% {transform: rotateX(700deg) rotateY(200deg) rotateZ(360deg);}
}
@keyframes fadeIn {
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}